<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
	  <globalization culture="en-US" />
    <compilation debug="true">
    </compilation>
    <!-- Needed on .NET 4.0
      <httpRuntime requestValidationMode="2.0" />
    -->
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  <appSettings>
    <!-- 
      Update this value to allow more columns or fields in a report.
      Do this with caution, as the higher value you input increases your
      risk of DOS attack.
    -->
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
  </appSettings>
</configuration>
